body {
  background-color: rgb(238, 238, 238);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  background-color: white;
  border: solid;
  border-width: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;

  margin-top: 150px;
}

